/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.templates-examples {
    font-size: 0px;
    text-align: center;
}

.templates-examples p {
    display: inline-block;
}

.templates-examples img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin: 0px 15px;
}

.templates-examples-image-wrapper {
    display: inline-block;
}

.templates-examples-image-wrapper div {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

img + em {
    text-align: center;
    display: block;
    margin: 10px 0px;
    font-size: 16px;
}

.creating-tilemaps img {
    max-width: 600px;
}