/* your custom css */

.two-columns {
    font-size: 0px;
    text-align: center;
}

.two-columns p {
    display: inline-block;
}

.two-columns img {
    height: 370px;
    width: 370px;
    object-fit: cover;
}

.two-columns > div:nth-child(2) img {
    margin-left: 15px;
}

.two-columns > div {
    display: inline-block;
}

img + em {
    text-align: center;
    display: block;
    margin: 10px 0px;
    font-size: 16px;
}

.creating-tilemaps img {
    max-width: 600px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
    .two-columns img {
        height: 312px;
        width: 312px;
    }
}

@media only screen and (max-width: 1023px) {
    .two-columns img {
        height: 312px;
        width: 312px;
    }
}

@media only screen and (min-width: 1400px) {
    .two-columns img {
        height: 312px;
        width: 312px;
    }
}

@media only screen and (min-width: 1500px) {
    .two-columns img {
        height: 380px;
        width: 380px;
    }
}


.container.docsNavContainer::-webkit-scrollbar       {background-color:#fff; width:8px}
.container.docsNavContainer::-webkit-scrollbar-track {background-color:#fff}
.container.docsNavContainer::-webkit-scrollbar-thumb {background-color:#babac0; border-radius:8px; border:2px solid #fff}